/* Adam Kowalewski 31.03.2025 */
p#pogrubienie_kowalewski {
    font-size: 35px;
    color: #9b5fd2;
}

p#pochylona_kowalewski {
    font-size: 40pt;
    color: #ebc36e;
}

p#index_gorny_kowalewski {
    font-size: 1,5cm;
    color: #af911e;
}

p#index_dolny_kowalewski {
    font-size: 2,5cm;
    color: rgb(29%, 96%, 90%);
}

p#mono_kowalewski {
    font-size: 45px;
    color: #2fe16d;
}

p#powiekszenie_kowalewski {
    color: #6941a0;
}

p#pomniejszenie_kowalewski {
    color: rgb(80%, 65%, 24%);
}